.heading  {

  text-align: center;

}
body {
  display: block;
  color: #FFFF00;
  background-color: #228B22;
  font-size: 20px;
}

.line1 {

  display: block;
  border-style: solid;
  border-width: 5px;
  border-color: #808080;
  margin-left: 80px;
  margin-right: 80px;

}

.line2  {

  display: block;
  border-style: solid;
  border-width: 5px;
  border-color: #808080;
  margin-left: 250px;
  margin-right: 250px;
}

.signature {

  text-align: center;
  font-style: italic;

}
